<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Edit </title>
</head>
<body>
    <!-- Code to Enter the  all filed data  -->
     <form method="POST" action="/listings/<%= listingsIdData._id %>?_method=PUT ">
       <input name="listing[title]" value="<%= listingsIdData.title %>" type="text" />
       <br>
       <textarea name="listing[description]"> <%= listingsIdData.description%> </textarea>
       <br>
       <input name="listing[image]" value="<%= listingsIdData.image %>" type="text"/>
       <br>
       <input name="listing[price]" value="<%= listingsIdData.price %>" type="number"/>
       <br>
       <input name="listing[country]" value="<%= listingsIdData.country%>" type="text" />
       <br>
       <input name="listing[location]" value="<%= listingsIdData.location %>" type="text" />
       <br>
       <button>Add</button>
     </form>

  
</body>
</html>


